.input-textarea{
    width: 99%;
    height: 200px;
}

ul.m-list{
    list-style: none;
}
ul.m-list li{
    margin-bottom: 20px;
}
/** Comments **/
.comment{
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid #F5F5F5;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
    clear: both;
    postition: relative;
    overflow: hidden;
}
.comment .avatar{
    float: left;
    width: 65px;
    margin-right: 13px;
}
.replayed{
    border-color: #00A8FF;
}
a.reply{ font-size: 10px; text-transform: uppercase }
small{ font-size: 11px; }
.delcomment{ color:red; float: right; }
