body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.input-textarea{
    width: 99%;
    height: 200px;
}

ul.modules-list{
    list-style: none;
    margin:0;
    padding:0;
}
ul.modules-list > li{
    padding: 10px;
    margin:0;
    margin-bottom: 10px;
    border: 1px solid #FFF;
    border-radius: 15px;
}
.module-title{
    height: 32px;
}
.module-control{
    float: right;
    display: none;
}
ul.modules-list > li:hover{
    border: 1px solid #DDD;
}
ul.modules-list > li:hover .module-control{
    display: block;
}
.sortcontrol{
    cursor: move !important;
}
body.dragging, body.dragging * {
  cursor: move !important;
}
li.placeholder{ height:1px; line-height:1px; background: red; margin:0; padding:0;}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/** Comments **/
/*.comment{
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid #F5F5F5;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
    clear: both;
    postition: relative;
    overflow: hidden;
}
.comment .avatar{
    float: left;
    width: 65px;
    margin-right: 13px;
}
.replayed{
    border-color: #00A8FF;
}
a.reply{ font-size: 10px; text-transform: uppercase }
small{ font-size: 11px; }
.delcomment{ color:red; float: right; }*/

textarea.markItUpEditor{
    width: 99%;
}