/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

ol, ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

:focus {
	outline:0;
}

ins {
	text-decoration:none;
}

del {
	text-decoration:line-through;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
	vertical-align:top;
}

input {
	margin:0;
	padding:0;
}
.cb{
    clear: both;
    font-size: 0;
    height: 1%  ;
    overflow: hidden;
    position: relative;
}

/** Common **/
img, a img { border:none; }
a:link, a:visited { color:#00A8FF; text-decoration: none; }
a:hover { color: #ED145B; }
a:visited {color: #0B75AB;}

h3 { font-size:14px; line-height:15px;  }

body{
    background: #818181;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
}

#layout{
    background: #FFF;
    margin: 0 auto;
    width: 1018px;
}

#head{
    background: #818181;
    position: relative;
    height: 122px;
}

#logo{
    position: absolute;
    top: 33px;    
}

#menu{
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 261px;
    top: 33px;
}
#menu li{
    float: left;
    margin: 0;
    padding: 0;
}
#menu li a{
    display: block;
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    background: #464646;
    padding: 10px 17px;
}
#menu li.active a, #menu li a:hover{
    background: #ED145B;
}

/** Login **/
#login{
    position: absolute;
    right:0;
    top: 36px;
    font-size: 11px;
    color: #FFF;
}
#login a{ color: #FFF; }
#login img.mini{ 
    width: 33px;
    vertical-align: middle;
}

.line{
    position: absolute;
    left: 261px;
    top: 105px;
    height: 17px;
    background: #ED145B;
    width: 757px;
}

/** News **/
#news{
    background: #FFF;
    height: 72px;
    position: relative;   
}
#news .arrow{
    width: 11px;
    height: 22px;
    position: absolute;
    top: 25px;
}
#news .left{
    left: 8px;
    background: url('../imgs/arrow-left.png') no-repeat;
}
#news .right{
    right: 8px;
    background: url('../imgs/arrow-right.png') no-repeat;
}
#news .title{
    top: 27px;
    left: 33px;
    position: absolute;
    text-transform:uppercase;
    font-size: 16px;
    font-weight: bold;
    margin:0;
    padding:0;
}

#news_carousel{
    width: 855px;
    height: 38px;
    position: absolute;
    top:17px;
    left:131px;
    overflow: hidden;
}
#news_carousel ul{
    list-style: none;
    margin:0;
    padding:0;
}
#news_carousel ul li{
    float: left;
    display: block;
    width:285px;
    height: 38px;
}
#news_carousel ul li a img{
    float: left;
    margin-right: 11px;    
}
#news_carousel ul li a{
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
}
/**
#news .block{
    width: 244px;
    height: 38px;
    overflow: hidden;
    position: absolute;
    top: 17px;
}
#news .block img{
    float: left;
    margin-right: 11px;
}
#news .block a{
    display: inline-block;
    line-height: 12px;
    font-size: 13px;
}
.n1{ left: 130px; }
.n2{ left: 419px; }
.n3{ left: 706px; }
**/

/** Place **/
#place{
    height: 119px;
    background: url('../imgs/place-bg.png') no-repeat;
}

/** Page **/
#page{
    /**padding: 33px;**/
    background: #FFF url('../imgs/applecrush-bg.png') no-repeat right bottom;
    min-height: 800px;
    overflow: hidden;
}

/** Content **/
#content{
    width: 575px;
    padding: 33px 66px 33px 33px;
    float: left;
}
/** Navigator **/
.navigator{
    height: 17px;
}
.navigator h3{
    font-size: 14px;
    font-weight: bold;
    margin:0;
    padding:0;
    float: left;
    line-height: 17px;
    margin-right: 9px;
}
.navigator a{
    display: block-inline;
    float: left;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 17px;
    padding: 0 4px;
    font-size: 10px;
}
.navigator a:hover{
    background: #00A8FF;
    color: #FFF;
    height: 17px;
    /*background: #00A8FF url('../imgs/arrow-bottom.gif') no-repeat center 16px;*/
}
.navigator .arrow{
    clear: top;
    height: 12px;
    border-bottom: 1px solid #CCC;
    background: url('../imgs/arrow-bottom.gif') no-repeat;
}
.navline{
    clear: both;
    height: 1px;
    position: relative;
    display: block;
    margin-top: 7px;
    background: #CCC;
    overflow: hidden;
    margin-bottom: 30px;
}
/**
.navigator .popular{
    background-position: 243px bottom;
}
.navigator .new{
    background-position: 319px bottom;
}
.navigator .video-popular{
    background-position: 178px bottom;
}
.navigator .video-new{
    background-position: 252px bottom;
}
**/

/** Post **/
.post{
    overflow: hidden;
    width: 100%;
    margin-bottom: 33px;
}
.rating{
    display: block-inline;
    width: 66px;
    float: left;
    margin-right: 33px;
}
.rating span{
    display: block;
    line-height: 51px;
    width: 66px;
    text-align: center;
    color: #FFF;
    background: #ED145B;
    font-size: 36px;
    margin-bottom: 3px;
}
.rating a{
    display: block;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    background: #ED145B;
    font-size: 8px;
    text-transform: uppercase;    
}

/** TITLE **/
.title{
    line-height: 40px;
    font-size: 11px;
    text-transform: uppercase;
}

/** TEXT **/
.text{
    font-size: 12px;
    display: block-inline;
    width: 476px;
    float: left;
    background: url('../imgs/hr.gif') repeat-x bottom;
    padding-bottom: 18px;
}
.text h2{
    color: #00A8FF;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.text .avatar{
    float: right;
    margin-left: 33px;
}
.author, .author a{
    color: #CCC;
    text-transform: uppercase;
    font-size: 10px;
}
.author a{ text-decoration: underline; }
.tags{
    text-transform: uppercase;
    margin-top: 13px;
    font-size: 10px;
    background: url('../imgs/tags.gif') no-repeat left center;
    padding-left: 16px;
}

/** Pagination **/
#pagingbar{
    padding: 15px 4px;
    border-top: 1px dotted #696969;
    border-bottom: 1px dotted #696969;
    font-size: 11px;
    text-transform: uppercase;
}
#pagingbar a{ line-height: 11px; }
#pagingbar a.up{
    background: url('../imgs/arrow-up.gif') no-repeat right center;
    padding-right: 24px;
}
#pagination{
    float:right;
}
#pagination a{
    display: block-inline;
    padding: 0 3px;
    border-left: 1px solid #CACACA;
}
#pagination a:first-child, #pagination a:last-child{
    border-left: none;
}
#pagination span.next a{
    background: url('../imgs/arrow-right.gif') no-repeat right center;
    padding-right: 18px;    
}
#pagination span.prev a{
    background: url('../imgs/arrow-left.gif') no-repeat left center;
    padding-left: 18px;    
}

/** Video **/
#video{
    height: 280px;
    width: 574px;
}

#video .embed{
    float: left;
    width: 326px;
    height: 208px;
    background: url('../imgs/video-bg.gif') no-repeat right bottom;
}
#video .embed span{
    display: block-inline;
    line-height: 17px;
    padding-left: 27px;
    font-size: 11px;
    color: #444;
    text-transform: uppercase;
}
#video .list{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    width: 232px;
}
#video .list li{
    display: block;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
}
#video .list li a{
    display: block;
}
#video .list li a img{
    float: left;
    margin-right: 15px;
}

/** Sidebar **/
#sidebar{
    width: 278px;
    float: left;
    padding: 33px;
    margin-bottom: 230px;
}
.widget{
    margin-top: 25px;
}

/** Footer **/
#footer{
    padding: 42px 33px;
    background: #000;
}

/** Forms **/
.size90p{ width: 90%; }
.size100p{ width: 100%; }
input.string, input.input, textearea{
    border: 1px solid #CCC;
    line-height: 23px;
    font-family: Arial, Verdana, Tahoma;
    padding: 0px 12px;
    font-size: 12px;
    color: #CCC;
}
.button{
    background: #CCC;
    color: #FFF;
    line-height: 23px;
    border: 1px solid #CCC;
    padding: 0px 12px;
}
.danger{ background: red; }
.allow{ background: green; }

table.fields{
    width:99%;
}
table.fields td{
    padding: 4px;
    margin: 3px;
}
.red, .error{ color: red; }

div.poster{
    clear: both;
    width: 575px;
}

/** Controls for Post **/
a.ctrl{ font-size:11px; float:left; margin-right: 16px; }
a.ctrl span{ float: left; }
a.edit{ color: green; }
a.delete{ color: red;  }

/** Comments **/
.comment{
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
    font-size: 12px;
    border: 1px solid #F5F5F5;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
    clear: both;
    postition: relative;
    overflow: hidden;
}
.comment .avatar{
    float: left;
    width: 65px;
    margin-right: 13px;
}
.replayed{
    border-color: #00A8FF;
}
a.reply{ font-size: 10px; text-transform: uppercase }
small{ font-size: 11px; }
.delcomment{ color:red; float: right; }

/** Sidebar - LastReviews **/
.last_block div{ clear: both; margin-bottom: 16px; overflow: hidden; }
.last_block img{ float: right; margin-left: 85px; }
.last_block a{ color: #000; text-transform: uppercase; font-size: 11px; margin-bottom: 10px; }

/** Table **/
.table {
  width: 100%;
  margin-bottom: 18px;
}

.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th { font-weight: bold; }

.table thead th { vertical-align: bottom; }

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td { border-top: 0; }

.table tbody + tbody { border-top: 2px solid #dddddd; }


.table tbody tr:nth-child(odd) td, .table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f5f5f5;
}
